@model IEnumerable<PostoDeAssistenciaWeb.Models.Assistido>

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@

<br />

<p>
    @Html.ActionLink("Criar novo", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nome completo")
        </th>
        <th>
            @Html.DisplayName("Sexo")
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Idade)
        </th>*@
        <th>
            @Html.DisplayName("Idade")
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.GrauParentesco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeracaoCalcado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeracaoRoupaSuperior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeracaoRoupaInferior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Principal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DependenteId)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Idade)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.DataNascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrauParentesco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeracaoCalcado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeracaoRoupaSuperior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeracaoRoupaInferior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Principal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DependenteId)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AssistidoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AssistidoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AssistidoId })
        </td>
    </tr>
}

</table>
